# Activer la réécriture
RewriteEngine On

# Redirection interne vers le dossier public sans changer l'URL
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]
