# Activer le module de réécriture
RewriteEngine On

# ----------------------------
# 1. Page par défaut
# Si l'utilisateur accède à /, afficher index.php
# DirectoryIndex index.php
# ----------------------------

# ----------------------------
# 2. Redirection des requêtes vers index.php si le fichier ou dossier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [L]
# ----------------------------
